.tran {
  font-family: "Monstserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2d2938;
  text-decoration: none;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fcf3f6;
  position: sticky;
  top: 0;
  padding: 20px 10%;
  z-index: 1;
}

.logo {
  width: 70px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: auto;
}

ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  padding: 0px 20px;
}

.tran:nth-child(1) {
  padding: 0 20px 0 0;
}

.tran {
  transition: all 0.3s ease 0s;
}

.tran:hover {
  color: #3d8da0;
}

.tran {
  order: 2;
}

/* .badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
} */

.cart_count{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 30%;
    bottom: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 7, 7);
    font-weight: 700;
}
